
@import '../../styles/colors.scss';

$color-toggle: $blue;
$button-width: 150px;
$button-height: $button-width * 0.5;

$toggle-size: 20px;

.toggle-button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.label{
  color: white;
  font-size: 0.9rem;
  padding-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: $toggle-size * 2.3;
  height: $toggle-size * 1.3;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: $toggle-size;
  width: $toggle-size;
  left: 4px;
  //right: 4px;
  bottom: $toggle-size/6;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: $color-toggle;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px ;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX($toggle-size);
  -ms-transform: translateX($toggle-size);
  transform: translateX($toggle-size);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

