@import "../../styles/metrics"; 

$control-height: 20vh;
$control-width: 300px;
$control-color: white;

.control-wrapper{
  height: $control-height;
  width: $control-width;
  background-color: rgba($control-color, 0.05);
  border-radius: 5px;
  margin: $base-padding;
}

.control-title{
  text-align: center;
  color: white;
  padding: $base-padding;
}

.control-tools{
  
}