@import "../styles/all";

.wrapper{
  background: $ui-background-solid;
  display: flex;
  flex-direction: column;
  color: white;
}

.tabs-container{
  padding-top: 3px;
  height: $tabs-height;
  width: 100%;
}

.content-container{
  height: 90vh;
  width: 100%;
}
