@import "../styles/all";

.wrapper{
  display: flex;
  flex-direction: column;
}

.tabsContainer{
  padding-top: 1%;
  height: $tabs-height;
  width: 100%;
  background: $ui-background-solid;
}

.contentContainer{
  background: $ui-background-solid;
  height: 90vh;
  width: 100%;
}