@import "./styles/all";

html, body {
    margin: 0;
}

.app {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    user-select: none;
    font-family: 'Gill Sans Nova';
    animation: $slow-fade-in-animation;
  }